{% extends 'base.html' %}
{% load static %}
{% block title %}
    AutoCadastro
{% endblock title %}
{% block content %}
    <form method="post"
          id="agendamentoForm_id"
          horarios-data="{% url 'pages:ajax_carregar_horarios' %}"
          novalidate>
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}
                <br>
                {{ field }}
                {% if field.help_text %}<small style="color: grey">{{ field.help_text }}</small>{% endif %}
                {% for error in field.errors %}
                    <p style="color: red">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
    {% block script %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src= "{% static 'js/utils/dropdownJS.js' %}"></script>
    {% endblock %}
{% endblock content %}
