{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'pages:login' %}">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}

        {% for field in form %}
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
    </form>
{% endblock %}
