{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    {% if user.is_authenticated %} 
        <ul>
            <li>Nome Completo: {{user.full_name}}</li>
            <li>Data de Nascimento: {{user.date_of_birth}} ( {{user.get_idade}} anos )</li>
            <li>CPF: {{ user }}</li><!-- A definicao de __str__ é o proprio CPF formatado -->
        </ul>
        {% if user.is_able_to_schedule %}
            <a href="{% url 'logout' %}"> <button type="button" > Realizar Agendamento </button> </a>
        {% endif %}
    {%else%}
        <a href="{% url 'logout' %}"> <button type="button" >Entrar </button> </a>
        <a href="{% url 'login' %}"> <button type="button"> Cadastre-se </button></a>
    {% endif %}

{% endblock %}
